<div class="experience">
  {% assign experiences = site.experiences %}
  {% assign categories = experiences | group_by: "category" %}
  
  {% for category in categories %}
    <h2>{{ category.name }}</h2>
    <hr />
    {% for exp in category.items reversed %}
      <div class="experience-item">
        <h3>{{ exp.title }}</h3>
        <p><strong>{{ exp.institution }}</strong>，Mentor: {{ exp.mentor }}&nbsp;&nbsp;{{ exp.time }}</p>
        <ul>
          {% for detail in exp.details %}
            <li>{{ detail }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  {% endfor %}
</div>
